body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family:"Lucida Console"
}

button {
    width: 100px;
    height: 100px;
    margin: 2px;
    padding: 0;
    font-size: 50px;
    background-color: rgb(98, 101, 104);
}

.output {
    background-color: rgb(98, 104, 54);
    font-size: 100px;
    text-align: right;
    padding: 10px;
    margin: 6px;
    height: 100px;
    border-radius: 2px;
}

.main {
    margin-top: 20px;
    background-color: rgb(49, 50, 52);
    border-radius: 2px;
    border: 6px solid rgb(33, 33, 34);
}

.body {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.body > div {
    display: flex;
}

.brand {
    font-size: 20px; 
    color: rgb(21, 21, 21);
    padding-left: 6px;
    padding-top: 6px;
    font-weight: 900;
}

#clear {
    width: 204px;
}

#switch-signs {
    width: 204px;
}

#output {
    font-family: "digital-clock-font"
}